* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border-width: 1px;
  padding: 0.5rem;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  background: rgb(231, 231, 231);
}

button:hover {
  background-color: #d8d8d8;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.cancel-btn {
  background-color: #ff7272;
}

.cancel-btn:hover {
  background-color: #c75858;
}

.vertical-divider {
  background: black;
  width: 2px;
  border-radius: 6px;
}

header {
  padding: 2rem;
  background: #abb1b1;
}

/* ===== DATE DISPLAY ===== */
.date-display {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

/* ===== CASHIER ===== */

.cashier .amount {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cashier .amount p {
  font-size: 1.4rem;
}

/* ===== HISTORY ===== */
.history {
  padding: 16px;
}

.history h2 {
  margin-bottom: 1rem;
}

/* ===== OPERATION CARD ===== */
.operation-card {
  background-color: #e7eeee;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 16px;
  width: 560px;
  color: #3a3d3d;
  position: relative;
}

.operation-card .negative-amount {
  color: rgb(255, 67, 67);
}

.operation-card .positive-amount {
  color: rgb(0, 136, 0);
}

.operation-card .short-info-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.operation-card .info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.operation-card .info.description {
  align-items: center;
}

.operation-card .info label {
  font-size: 1.2rem;
  font-weight: 500;
}

.operation-card .info.description p {
  overflow-wrap: break-word;
  max-width: 420px;
}

.operation-card .time {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
