* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border-width: 1px;
  padding: 0.5rem;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: #d8d8d8;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.vertical-divider {
  background-color: rgb(178, 185, 185);
  width: 2px;
  border-radius: 6px;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.cancel-btn {
  background-color: #ff7272;
}

.cancel-btn:hover {
  background-color: #c75858;
}

.cashier {
  padding: 2rem;
  background: #abb1b1;
}

.cashier-amount {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cashier-amount p {
  font-size: 1.4rem;
}

/* ===== HISTORY ===== */

.history img {
  height: 1.5rem;
  width: 1.5rem;
}

.history header {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}
/* ===== OPERATION CARD ===== */
.operation-card {
  background-color: #e7eeee;
  border-radius: 6px;
  margin-bottom: 16px;
  margin-inline: 16px;
  padding: 16px;
  max-width: 550px;
  color: #3a3d3d;
}

.operation-card .negative-amount {
  color: rgb(255, 67, 67);
}

.operation-card .positive-amount {
  color: rgb(0, 136, 0);
}

.operation-card .short-info-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.operation-card .info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.operation-card .info.description {
  align-items: start;
}

.operation-card .info label {
  font-size: 1.2rem;
  font-weight: 500;
}
