* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border-width: 1px;
  padding: 0.5rem;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  background: #e7e7e7;
}

button:hover {
  background-color: #d8d8d8;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.empty-list-message {
  color: rgb(112, 112, 112);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.cancel-btn {
  background-color: #ff7272;
}

.cancel-btn:hover {
  background-color: #c75858;
}

.vertical-divider {
  background: black;
  width: 2px;
  border-radius: 6px;
}

header {
  padding: 2rem;
  background: #abb1b1;
}
/* =====  ERROR MESSAGE ===== */
.error-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;

  background-color: #d32f2f;
  color: #fff;
  padding: 14px 20px;
  text-align: center;
  font-weight: 500;
  z-index: 1000;
}

.error-banner.show {
  transform: translateY(0);
}

/* ===== DATE DISPLAY ===== */
.date-display {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

/* ===== CASHIER ===== */

.cashier .amount {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cashier .amount p {
  font-size: 1.4rem;
}
