.modal-wrapper {
  position: absolute;
  background-color: #00000070;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;

  z-index: 100;
}

/* ===== EDIT CASH MODAL ===== */

.edit-cash-modal {
  padding: 1rem;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edit-cash-modal h2 {
  margin-bottom: 1rem;
}

.edit-cash-modal input {
  border-radius: 6px;
}

.edit-cash-modal .buttons-container {
  justify-content: space-between;
}
