.history {
  padding: 16px;
  display: flex;
}

.history section {
  width: 50%;
}

.history h2 {
  margin-bottom: 1rem;
}

/* ===== CARDS ===== */
.card {
  background-color: #e7eeee;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 16px;
  width: 560px;
  color: #3a3d3d;
  position: relative;
}

.card .time {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.card .positive-amount {
  color: rgb(0, 136, 0);
}

.card .negative-amount {
  color: rgb(255, 67, 67);
}

/* ===== OPTIONS BUTTON ===== */
.card .options-button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.card .options-button .icon {
  height: 1rem;
  width: 1rem;
}

.card .options-menu {
  position: absolute;
  top: -10px;
  right: -80px;
  display: flex;
  flex-direction: column;
}

/* ===== SALE CARD ===== */
.sale-card {
  display: flex;
  gap: 1rem;
}

.sale-card ul {
  width: 50%;
}

.sale-card li {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 8px;
}

.sale-card .product-name {
  font-size: 1.4rem;
}

.sale-card p {
  text-transform: capitalize;
}

/* ===== OPERATION CARD ===== */
.operation-card .info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.operation-card .info.description {
  margin-top: 1rem;

  align-items: center;
}

.operation-card .info label {
  font-size: 1.2rem;
  font-weight: 500;
}

.operation-card .info.description p {
  overflow-wrap: break-word;
  max-width: 420px;
}
